<h1>Update Tweet</h1>

<form action="/tweets/<%=@tweet.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label>Tweet:</label>
  <input type="text" name="content" value="<%= @tweet.content%>"></input><br>
  <br>

    <button id="submit" type="submit" >Edit Tweet</button>
</form>
