<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
      <h3>Please Log In or Signup</h3>
      <h3><a href="/">Log In</a> <a href="/signup">Signup</a></h3>
    <h4><a href="/logout">Log Out</a><h4>

  </body>
</html>
