<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
</head>
<body id="page-top">

  <form action='/new' method="POST">
  <h2>New Tweet</h2><br>
    <label>Content</label>
    <input type="text" name="tweet[content]">

    <button id="submit" type="submit" >Submit</button>
  </form>
</body>
</html>
