  <form action='/new' method="POST">
  <h2>New Tweet</h2><br>
    <label>Please Enter Content:</label>
  <input type="text" name="content"></input><br>
  <% end %>
<br></br>
<br></br>
    <button id="submit" type="submit" >Submit</button>
  </form>
</body>
</html>
