<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tweet</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">

    <%= @tweet.content %>

    <form action="/tweets/<%=@tweet.id%>/delete" method="POST">
      <input type="hidden" name="_method" value="delete">
   <button type="submit" value="Delete Tweet"></button>
 </form>

     <h1> <a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a> </h1>
  </body>
</html>
