<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tweet</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <%= tweet.content %>

    <h1> <a href="/">Edit</a> </h1>

    <form action="/tweets/<%=@tweet.id%>" method="POST">
      <input type="hidden" name="_method" value="delete">
   <input type="submit" value="Delete Tweet">
  </body>
</html>
