<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <p> Here are your tweets, <%= @user.username %>
    <% @user.tweets.each do |tweet| %>
       <%= tweet.content %>
         <%end%>
  </body>
</html>
