<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
</head>
<body id="page-top">
  <h1>Please Sign Up</h1>

  <form action='/signup' method="POST">
    <h3>Please Enter a Username:</h3><br>
    <input type="text" name="username"><br>
    <h3>Please Enter an Email Address:</h3><br>
    <input type="text" name="email"><br>
    <h3>Please Enter a Password:</h3><br>
    <input type="password" name="password"><br>
    <br>
  <button id="submit" type="submit" >Submit</button>
  </form>
</body>
</html>
