<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>title</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
</head>
<body id="page-top">
  <h1>Please Sign Up</h1>
<<<<<<< HEAD
  <form action='/signup' method="POST">
    <h3>Please Enter a Username:</h3><br>
    <input type="text" name="username"><br>
    <h3>Please Enter an Email Address:</h3><br>
    <input type="text" name="email"><br>
    <h3>Please Enter a Password:</h3><br>
    <input type="password" name="password">
    <button id="submit" type="submit">Submit</button>

    <% if Helpers.logged_in?(session) %>
    <h1>Welcome <%= Helpers.current_user(session).username %></h1>
    <h3>Your Balance: <%=Helpers.current_user(session).balance %></h3>
  <h4><a href="/logout">Log Out</a><h4>
        <%end%>
  </form>
</body>
</html>
=======

  <form action='/signup' method="POST">

    Username: <input type="text" name="Username">
    Password: <input type="password" name="password">
    <button id="submit" type="submit" >Submit</button>
  </form>
</body>
</html>
>>>>>>> 069bae2c8f958d31c3b750c81661087e5c87f361
