<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Fwitter</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
      <h3>Please Log In or Signup</h3>
      <h3><a href="/login">Log In</a> <a href="/signup">Signup</a></h3>


  </body>
</html>
